frameworks/base/**/*.cpp linguist-vendored
frameworks/base/**/*.h linguist-vendored
frameworks/base/**/*.hls linguist-vendored

vendor/aerolon/**/*.rs linguist-detectable
vendor/aerolon/**/*.rs linguist-vendored=false
